/* #1e894a  */
*{
    padding: 0;
    margin: 0;
}
body{
    height: 90vh;
    border: 1.2em solid #1e8930;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    border: 1.2em solid #4fd465;
}
section{
    display: flex;
    align-items: center;
    
}
h1,p{
    color: #1e894a;
}
main{
    display: flex;
    justify-content: space-around;
}
img{
    height: 10em;
    
}